body {
    text-align: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin: 0.5em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

h3 {
    margin: 2em 0 0.15em;
}

table,
tr,
td {
    border: 0.5px solid rgb(100, 0, 0);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 50px;
}

td {
    width: 50px;
}

input[type=number] {
    width: 3em;
}
